
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                
                {{#each images}}
                
		           {{#if text}}
                <div class="card animated fadeInDown">
                    <img src="{{path}}" class="card-img-top" alt="{{filename}}"width="200" height="300">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}
                        <p>{{created_at}}</p>
                        <a href="/image/{{_id}}" class="btn btn-primary">
                           View 
                        </a>
                        <form action="/imagedelete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger ">Delete</button>
                        </form>
                    </div>
                </div>
                  {{else}}
                <div class="card animated fadeInDown">
                    <img src="{{ns}}" class="card-img-top" width="200" height="300">
                     <span class="glyphicon glyphicon-align-center"></span>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}
                        <p>{{created_at}}</p>
                        <a href="/image/{{_id}}" class="btn btn-primary">
                           View 
                        </a>
                        <form action="/imagedelete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger ">Delete</button>
                        </form>
                    </div>
                </div>


                   {{/if}} 
                 {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                    <h1>Hola {{user.name}}</h1>
                    <p clsss="lead">Te damos la Bienvenida. Eres nuevo?</p>
                    <a href="/upload" class="btn btn-success btn-block">Empezemos!</a>
                    </div>
                </div>                    
                {{/each}}
            </div>
        </div>
    </div>


